{% extends 'base.html' %}
{% block title %}No access - LiveGrade{% endblock %}
{% block content %}
<div class="card">
  <div class="card-body p-4">
    <h1 class="h4">LiveGrade is not available for this account</h1>
    <p class="text-muted">
      Your DevPerf account is not set up to run LiveGrade for any organization.
      If you meant to use a different account, switch to it below. Otherwise ask the
      organization that invited you to send a LiveGrade invitation, then sign in again.
    </p>
    <div class="d-flex flex-wrap gap-2">
      <a class="btn btn-primary" href="{{ switch_account_url }}">Use a different account</a>
      <a class="btn btn-outline-secondary" href="{% url 'oidc_authentication_init' %}">Sign in again</a>
    </div>
  </div>
</div>
{% endblock %}
